### Section 1 - Number (Integers and Float)

In [1]:
# Create a code that calculates sales tax
# Total = #The amount you spent
# Tax_percent = #The tax percentage e.g 10%, 20%, 30%, etc
# Tax_amt = #The tax percentage multiplied by the total amount
# Grand_total = #The total amount less the Tax Amount
# Print(Narration)
#--------------- Write your code below----------------------------#

In [2]:
Total = 5000
Tax_percent = 0.2
Tax_amount = Tax_percent*Total
Ground_total = Total-Tax_amount
Ground_total

4000.0

In [3]:
# Print(The test score program)
# Print(--------------------------)
# Print(Enter 3 test score)
# Print(-----------------------------------)
# Total_score = 0
# Total_score += Get input from user
# Total_score += Get input from user
# Total_score += Get input from user
# Average_score = Get the Average score
# Print(-----------------------------------)
# Using print formatting - print Total Score and Average Score
# Print()
# Print(Bye)

#--------------- Write your code below----------------------------#

In [4]:
Total_score = 0
Total_score += int(input("Enter first_score"))
Total_score += int(input("Enter second_score"))
Total_score += int(input("Enter third_score"))
Average_score = Total_score/3
print(f"Total score is {Total_score} and Average score is {Average_score}")

Enter first_score50
Enter second_score40
Enter third_score60
Total score is 150 and Average score is 50.0

In [5]:
Total_score = 0
Total_score = Total_score + int(input("Enter first_score"))
Total_score = Total_score + int(input("Enter second_score"))
Total_score = Total_score + int(input("Enter third_score"))
Average_score = Total_score/3
print(f"Total score is {Total_score} and Average score is {Average_score}")

Enter first_score50
Enter second_score40
Enter third_score60
Total score is 150 and Average score is 50.0

In [6]:
# calculate the mean of the numeric values in the list below

# list1 = [150, rat, 80, fish, 300, 400, 500]
# mean = sum of total / count of total

# ---------------------write your code here -----------------------#

In [7]:
List = [150, "rat", 80, "fish", 300, 400, 500]
for items in List:
    if type(items) == int:
        print(items)

150
80
300
400
500

In [8]:
len(List)

7

In [9]:
List = [150, "rat", 80, "fish", 300, 400, 500]

In [10]:
List1 = List[0] + List[2] + List[4] + List[5] + List[6] 
List1

1430

In [11]:
Mean = List1/5
Mean

286.0

### Section 2 - Strings

In [12]:
# Create a string made of the middle three characters
# str1 = "efEMEna"
# output = EME
# return the output with a print function with the text 'Are you certain the expected output is ___ ?'
# ---------------------write your code here -----------------------#

In [13]:
Str = "waKILu"
output = Str[2:5]
output
print(f"Are you certain the expected output is {output}")

Are you certain the expected output is KIL

In [14]:
# Assign The quick brown fox jumps over the lazy dog to a Variable
# Slice the string to obtain quick brown fox
# Slice the string to obtain the lazy dog
# Use negative Indexing to obtain lazy dog
# Obtain the Length of the string

#--------------- Write your code below----------------------------#

In [15]:
Lazy_dog = "The quick brown fox jumps over the lazy dog"

In [16]:
Lazy_dog[4:19]

'quick brown fox'

In [17]:
Lazy_dog[35::]

'lazy dog'

In [18]:
Lazy_dog[-8::]

'lazy dog'

In [19]:
len(Lazy_dog)

43

In [20]:
# Get input from user and Concatenate the code below
# Name = What is your name?
# Age = How old are you?
# State = What is your state of origin?
# Profession = What is your profession?
# Bio = print My name is _ and i'm _ years old. I am from _ state and i am _ by profession 

#--------------- Write your code below----------------------------#

In [21]:
Name = input("What is your name? ")
Age = int(input("How old are you? "))
State = input("What is your state of Origin? ")
Profession = input("What is your profession? ")
Bio = print(f"My name is {Name} and i'm {Age} years old. I am from {State} state and i am {Profession} by profession")

What is your name? Wakilu
How old are you? 26
What is your state of Origin? Ogun
What is your profession? Engineer
My name is Wakilu and i'm 26 years old. I am from Ogun state and i am Engineer by profession

In [22]:
# Assign the text 'One of the first notebooks: Galileo's drawings of Jupiter and its Medicean Stars from Sidereus Nuncius'. to a variable
# print the length of "Jupiter" from within the string
# how many WORDS are contained in the text?


# ---------------------write your code here -----------------------#

In [23]:
Text = "One of the first notebooks: Galileo's drawings of Jupiter and its Medicean Stars from Sidereus Nuncius"
Text

"One of the first notebooks: Galileo's drawings of Jupiter and its Medicean Stars from Sidereus Nuncius"

In [24]:
Sub_text = Text[50:57]
Sub_text

'Jupiter'

In [25]:
len(Sub_text)

7

In [26]:
len(Text)

102

### Section 3 - Lists

In [27]:
# Create a list of states in Nigeria
# Abia
# Adamawa
# Akwa Ibom
# Anambra
# Bayelsa
# Benue
# Borno
# Cross River
# Nasarawa
# Niger
# Ogun
# Ondo
# Osun
# Oyo
# Plateau
# Rivers
# Sokoto
# Taraba
# Yobe
# Zamfara

#--------------- Write your code below----------------------------#

In [28]:
states = ["Abia","Adamawa","Akwa Ibom", "Anambra", "Bayelsa", "Benue", "Borno", "Cross River", "Nasarawa", "Niger", "Ogun", "Ondo", "Osun", "Oyo", "Plateau", "Rivers", "Sokoto", "Taraba", "Yobe", "Zamfara"]
states

['Abia',
 'Adamawa',
 'Akwa Ibom',
 'Anambra',
 'Bayelsa',
 'Benue',
 'Borno',
 'Cross River',
 'Nasarawa',
 'Niger',
 'Ogun',
 'Ondo',
 'Osun',
 'Oyo',
 'Plateau',
 'Rivers',
 'Sokoto',
 'Taraba',
 'Yobe',
 'Zamfara']

In [29]:
# Q2: Index and retrieve the first 10
# Q3: Index and retrieve Cross River, Nasarawa, Niger, Ogun, Ondo, Osun, Oyo, Plateau
# Q4: Use Negative indexing to retrieve the last 5 states

#--------------- Write your code below----------------------------#

In [30]:
states[0:10]

['Abia',
 'Adamawa',
 'Akwa Ibom',
 'Anambra',
 'Bayelsa',
 'Benue',
 'Borno',
 'Cross River',
 'Nasarawa',
 'Niger']

In [31]:
states[7:15]

['Cross River', 'Nasarawa', 'Niger', 'Ogun', 'Ondo', 'Osun', 'Oyo', 'Plateau']

In [32]:
len(states)

20

In [33]:
states[-5::]

['Rivers', 'Sokoto', 'Taraba', 'Yobe', 'Zamfara']

In [34]:
#Q5: Add 4 new states

#--------------- Write your code below----------------------------#

In [35]:
Addit_state = ["Ekiti", "Edo", "Gombe", "Kaduna"]
Addit_state

['Ekiti', 'Edo', 'Gombe', 'Kaduna']

In [36]:
states.extend(Addit_state)
states

['Abia',
 'Adamawa',
 'Akwa Ibom',
 'Anambra',
 'Bayelsa',
 'Benue',
 'Borno',
 'Cross River',
 'Nasarawa',
 'Niger',
 'Ogun',
 'Ondo',
 'Osun',
 'Oyo',
 'Plateau',
 'Rivers',
 'Sokoto',
 'Taraba',
 'Yobe',
 'Zamfara',
 'Ekiti',
 'Edo',
 'Gombe',
 'Kaduna']

In [37]:
#Q6: Confirm the length of the list

#--------------- Write your code below----------------------------#

In [38]:
len(states)

24

In [39]:
#Q7. Remove Benue, Oyo and Yobe

#--------------- Write your code below----------------------------#

In [40]:
items = ["Benue", "Oyo", "Yobe"]
for i in items:
    del states[states.index(i)]
states

['Abia',
 'Adamawa',
 'Akwa Ibom',
 'Anambra',
 'Bayelsa',
 'Borno',
 'Cross River',
 'Nasarawa',
 'Niger',
 'Ogun',
 'Ondo',
 'Osun',
 'Plateau',
 'Rivers',
 'Sokoto',
 'Taraba',
 'Zamfara',
 'Ekiti',
 'Edo',
 'Gombe',
 'Kaduna']

### Section 4 - Dictionaries

In [41]:
# Q1 created a dictionary that takes name, age, occupation, location and a list of the last five meals you have had

# dictionary = _ _ _ _ _ _ _ _ _ _ _ _

# ---------------------write your code here -----------------------#

In [42]:
Dictionary = {
    "name": "Wakilu",
    "age": 28,
    "Occupation": "IT Officer",
    "location": "Lagos",
    "food": ["Eba", "Rice", "Beans", "Semo"]

} 

Dictionary

{'name': 'Wakilu',
 'age': 28,
 'Occupation': 'IT Officer',
 'location': 'Lagos',
 'food': ['Eba', 'Rice', 'Beans', 'Semo']}

In [43]:
# Q2: Create a dictionary of states and governor in Nigeria

# Abia State: nil
# Anambra State: Willie Obiano
# Benue State: Samuel Ortom
# Delta State: Ifeanyi Okowa
# Ekiti State: nil
# Lagos State: Babajide Sanwo-Olu
# Plateau State: Simon Lalong
# Taraba State: Arch. Darius Ishaku
# Kogi State: Yahaya Bello
# Anambra State: Willie Obiano

#--------------- Write your code below----------------------------#

In [44]:
Name_Of_Governors = {
"Abia State": "nil",
"Anambra State":"Willie Obiano",
"Benue State":"Samuel Ortom",
"Delta State":"Ifeanyi Okowa",
"Ekiti State":"nil",
"Lagos State":"Babajide Sanwo-Olu",
"Plateau State":"Simon Lalong",
"Taraba State":"Arch. Darius Ishaku",
"Kogi State":"Yahaya Bello",
"Anambra State":"Willie Obiano",
}
Name_Of_Governors

{'Abia State': 'nil',
 'Anambra State': 'Willie Obiano',
 'Benue State': 'Samuel Ortom',
 'Delta State': 'Ifeanyi Okowa',
 'Ekiti State': 'nil',
 'Lagos State': 'Babajide Sanwo-Olu',
 'Plateau State': 'Simon Lalong',
 'Taraba State': 'Arch. Darius Ishaku',
 'Kogi State': 'Yahaya Bello'}

In [45]:
# Q3: update Abia and Ekiti (Okezie Ikpeazu, Kayode Fayemi)

#--------------- Write your code below----------------------------#

In [46]:
Name_Of_Governors.update({
    "Abia State": "Okezie Ikpeazu",
    "Ekiti State": "Kayode Fayemi"
})
Name_Of_Governors

{'Abia State': 'Okezie Ikpeazu',
 'Anambra State': 'Willie Obiano',
 'Benue State': 'Samuel Ortom',
 'Delta State': 'Ifeanyi Okowa',
 'Ekiti State': 'Kayode Fayemi',
 'Lagos State': 'Babajide Sanwo-Olu',
 'Plateau State': 'Simon Lalong',
 'Taraba State': 'Arch. Darius Ishaku',
 'Kogi State': 'Yahaya Bello'}

In [47]:
# Q4: Add
# Cross River State: Benedict Ayade
# Ebonyi State: Dave Umahi
# Sokoto State: Aminu Waziri Tambuwal

#--------------- Write your code below----------------------------#

In [48]:
Name_Of_Governors.update({"Cross River State": "Benedict Ayade",
                          "Ebonyi State": "Dave Umahi",
                          "Sokoto State": "Aminu Waziri Tambuwal"
                      })
Name_Of_Governors

{'Abia State': 'Okezie Ikpeazu',
 'Anambra State': 'Willie Obiano',
 'Benue State': 'Samuel Ortom',
 'Delta State': 'Ifeanyi Okowa',
 'Ekiti State': 'Kayode Fayemi',
 'Lagos State': 'Babajide Sanwo-Olu',
 'Plateau State': 'Simon Lalong',
 'Taraba State': 'Arch. Darius Ishaku',
 'Kogi State': 'Yahaya Bello',
 'Cross River State': 'Benedict Ayade',
 'Ebonyi State': 'Dave Umahi',
 'Sokoto State': 'Aminu Waziri Tambuwal'}

In [49]:
# Q5: Remove Ondo, Sokoto, taraba and Kogi from the dictionary

#--------------- Write your code below----------------------------#

In [50]:
Keys = ["Ondo State", "Sokoto State", "Taraba State", "Kogi State"]
for key in Keys:
    Name_Of_Governors.pop(key, None)
Name_Of_Governors

{'Abia State': 'Okezie Ikpeazu',
 'Anambra State': 'Willie Obiano',
 'Benue State': 'Samuel Ortom',
 'Delta State': 'Ifeanyi Okowa',
 'Ekiti State': 'Kayode Fayemi',
 'Lagos State': 'Babajide Sanwo-Olu',
 'Plateau State': 'Simon Lalong',
 'Cross River State': 'Benedict Ayade',
 'Ebonyi State': 'Dave Umahi'}

In [51]:
# Get atleast 5 random numbers using a single input function
# convert these inputs to a list
# finally obtain the mean of these numbers


# list1 = [100, 200, 300, 400, 500]

# ---------------------write your code here -----------------------#

In [59]:
import random
randomlist = []
for i in range(0,5):
    n = random.randint(1,30)
    randomlist.append(n)
print(randomlist)

[20, 29, 8, 9, 21]

In [60]:
randomlist

[20, 29, 8, 9, 21]

In [61]:
list_1 = randomlist[0] + randomlist[1] + randomlist[2] + randomlist[3] + randomlist[4]
list_1

87

In [62]:
len(randomlist)

5

In [63]:
mean = list_1 / 5
mean

17.4

### Section 5 - Set

In [ ]:
# add all the elements of sample_list into a given sample_set.

# sample_set = {"Yellow", "Orange", "Black"}
# sample_list = ["Blue", "Green", "Red", "white"]

# ---------------------write your code here -----------------------#

In [54]:
sample_set = {"Yellow", "Orange", "Black"}
sample_set

{'Black', 'Orange', 'Yellow'}

In [55]:
sample_list = ["Blue", "Green", "Red", "white"]
sample_list

['Blue', 'Green', 'Red', 'white']

In [58]:
sample_set.update(sample_list)
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow', 'white'}