# Session 1
- Data Science and Machine Learning

## Data Types

- Integer
- Floats
- Strings
- Booleans
- Lists
- Tuples
- Sets
- Dictionaries

In [2]:
# use help to find out methods available to a data type

help(str)
help(int)
help(float)

## Integers
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [3]:
# Whole Numbers
100

100

In [4]:
type(11001)

int

## Float
The difference between floating points and integers is decimal points. Floating point number can be represented as “1.0”, and integer can be represented as “1”. It is accurate up to 15 decimal places.

In [ ]:
1.0

In [ ]:
type(1.0)

## Basic Arithmetic
The basic arithmetic operations for real numbers are addition, subtraction, multiplication, and division

In [6]:
# Addition
100 + 250

350

In [7]:
2+2

4

In [8]:
2-8

-6

In [9]:
10-20

-10

In [11]:
# Multiplication
20 * 200

4000

In [12]:
100 * 2

200

In [13]:
# Division
10/5

2.0

In [14]:
250/3

83.33333333333333

In [16]:
type(250/3)

float

In [17]:
# Floor Division
10//6

1

In [15]:
100//30

3

In [18]:
type(100//30)

int

In [19]:
# Modulo - To get the reminder
100%30

10

In [20]:
10%6

4

In [21]:
# Raised to Power
36**2

1296

In [22]:
2**10

1024

In [23]:
# Square-root
1500**0.5

38.72983346207417

In [24]:
121**0.5

11.0

In [25]:
# Order of Operation - BODMAS
10 + 25 - 6 / 0.5 * 5

-25.0

In [26]:
(10 + 25 - 6) / (0.5*5)

11.6

In [27]:
125**(1/3)

5.0

In [28]:
# Floats
type(0.5)

float

## Variable Assignment
Variables can store data of different types

In [30]:
age = 50

In [31]:
age

50

In [32]:
age * age

2500

In [33]:
#Dont start with a number
#Dont start with special characters
#NO SPACE

total_Cost = 1

In [37]:
Wakilu = 100

In [38]:
Wakilu

100

In [40]:
# Example
first_test = 10
second_test = 40
attendance = 8
exam = 65

total_score = first_test + second_test + attendance + exam

total_score

123

In [41]:
# Student Calculator

first_test = int(input("What is your score for first test: "))
second_test = int(input("What is your score for second test: "))
attendance = int(input("What is your score for attendance: "))
exam = int(input("What is your score for exam: "))

total_score = first_test + second_test + attendance + exam

total_score

What is your score for first test: 28
What is your score for second test: 25
What is your score for attendance: 10
What is your score for exam: 75

138

## Strings
A String is a sequence of Unicode characters. In Python, String is called str. 
Strings are represented by using Double quotes or single quotes. 
If the strings are multiple, then it can be denoted by the use of triple quotes “”” or ”’. 
All the characters between the quotes are items of the string.

In [42]:
# Strings - Text

"hello world"

'hello world'

In [43]:
'hello world'

'hello world'

In [44]:
print("Hello World")

Hello World

In [48]:
type("Wakilu")

str

In [46]:
"i'm a boy"

"i'm a boy"

In [47]:
len("Wakilu")

6

In [50]:
#tags - tab, Next line
print("my name is \tWakilu")

print("My name is \nWakilu")

my name is 	Wakilu
My name is
Wakilu

In [51]:
name = "Ade"

In [52]:
name

'Ade'

In [54]:
first_name = input("What is your first name: ")
last_name = input("What is your last name: ")

full_name = first_name + " " + last_name

full_name

What is your first name: Wakilu
What is your last name: Oloyade

'Wakilu Oloyade'

In [55]:
len(full_name)

14

## Indexing and Slicing
- Indexing: Indexing is used to obtain individual elements.
- Slicing: Slicing is used to obtain a sequence of elements.


Indexing starts from 0. Index 0 represents the first element in the sequence.
Negative indexing starts from -1. Index -1 represents the last element in the sequence.

In [56]:
#Indexing
full_name[0]

'W'

In [57]:
full_name[5]

'u'

In [58]:
full_name[-2]

'd'

In [59]:
# Slicing
full_name

'Wakilu Oloyade'

In [60]:
full_name[:]

'Wakilu Oloyade'

### [START : STOP : STEP]
     [0 : 14 : 2]

In [61]:
full_name[1:8]

'akilu O'

In [62]:
full_name[5:]

'u Oloyade'

In [63]:
full_name[0:4]

'Waki'

In [68]:
full_name[0::5]

'Wuy'

In [69]:
full_name[::-1]

'edayolO ulikaW'

In [71]:
#built-in methods in strings
country = "ireland"

In [72]:
country

'ireland'

In [73]:
country.capitalize()

'Ireland'

In [74]:
country.upper()

'IRELAND'

In [77]:
comment = "I love 10Alytics"
comment

'I love 10Alytics'

In [78]:
comment.split()

['I', 'love', '10Alytics']

## Print Formatting
There are several ways to present the output of a program, data can be printed in a human-readable form, or written to a file for future use, or even in some other specified form. Sometimes user often wants more control over the formatting of output than simply printing space-separated values. There are several ways to format output.

In [80]:
name = "Adegoke"
age = 26

In [81]:
# .format method
print("my name is {} and i am {} years old".format(name, age))

my name is Adegoke and i am 26 years old

In [82]:
first_name = input("What is your first name: ")
last_name = input("What is your last name: ")

full_name = first_name + " " + last_name

print("My first name is {} and my last name is {}. So my full name is {}".format(first_name, last_name, full_name))

What is your first name: Wakilu
What is your last name: Oloyade
My first name is Wakilu and my last name is Oloyade. So my full name is Wakilu Oloyade

In [83]:
#Placeholder

name = "Wakilu"
age = 26

print("my name is %s and i am %s years old" %(name, age))

my name is Wakilu and i am 26 years old

In [84]:
#F-strings

name = "Wakilu"
age = 26

print(f"my name is {name} and i am {age} years old")

my name is Wakilu and i am 26 years old

## List
An ordered sequence of items is called List. It is a very flexible data type in Python. There is no need for the value in the list to be of the same data type. The List is the data type that is highly used data type in Python. List datatype is the most exclusive datatype in Python for containing versatile data. It can easily hold different types of data in Python.

In [85]:
name = ["Dami", "Uche", "Jumoke", "Demola"]

In [86]:
name[0::]

['Dami', 'Uche', 'Jumoke', 'Demola']

In [89]:
names = name[3]
names

'Demola'

In [90]:
names = name[0:3]
names

['Dami', 'Uche', 'Jumoke']

In [91]:
names = name[2]
names

'Jumoke'

In [92]:
names = name[1:4]
names

['Uche', 'Jumoke', 'Demola']

In [ ]:
age = [1,2,3,4,5]

In [93]:
age

26

In [94]:
my_list = ["Yomi", 10, 10.5, "10Alytics", 100.2]

In [95]:
type(my_list)

list

In [96]:
len(my_list)

5

In [97]:
#Indexing and Slicing
my_list[0]

'Yomi'

In [98]:
my_list[4]

100.2

In [99]:
my_list[-1]

100.2

In [100]:
#Slicing
my_list[0::3]

['Yomi', '10Alytics']

In [101]:
my_list[1::3]

[10, 100.2]

In [ ]:
name

In [102]:
name_1 = name + ["Sodiq"]

name_1

['Dami', 'Uche', 'Jumoke', 'Demola', 'Sodiq']

In [103]:
name.append("Oreoluwa")

In [104]:
name

['Dami', 'Uche', 'Jumoke', 'Demola', 'Oreoluwa']

In [105]:
name.append("Chuka")

In [106]:
name

['Dami', 'Uche', 'Jumoke', 'Demola', 'Oreoluwa', 'Chuka']

In [107]:
name.pop()

'Chuka'

In [108]:
name.pop()

'Oreoluwa'

In [ ]:
name.pop(0)

In [109]:
name

['Dami', 'Uche', 'Jumoke', 'Demola']

In [110]:
list_1 = [10, 1, 2, 3, 4, 20, 35]

In [111]:
list_1.reverse()

list_1

[35, 20, 4, 3, 2, 1, 10]

In [112]:
list_1.sort()

list_1

[1, 2, 3, 4, 10, 20, 35]

## Dictionaries
Dictionary is a type of python data type in which collections are unordered, and values are in pairs called key-value pairs. This type of data type is useful when there is a high volume of data. Braces {} (curly brackets) are used to define dictionaries data type in Python. A Pair in the dictionary data type is an item which is represented as key:value. The value and the key can be of any data type.

In [113]:
my_dict = {"key1": "Value1", "key2":"value2", "key3":"value3"}

In [114]:
my_dict

{'key1': 'Value1', 'key2': 'value2', 'key3': 'value3'}

In [115]:
my_dict["key2"]

'value2'

In [116]:
animal = {"dog":"Bingo", "cat":"Murphy", "Donkey":"Chris", "Lion": "Damilola"}

In [117]:
animal

{'dog': 'Bingo', 'cat': 'Murphy', 'Donkey': 'Chris', 'Lion': 'Damilola'}

In [118]:
animal["dog"]

'Bingo'

In [126]:
customer = {"name": "Olamide", "age": 26, "address": "no 11 James Ajayi, Aboru", "Phone_no": 8187690631}

In [128]:
customer["name"]

'Olamide'

In [127]:
customer["address"]

'no 11 James Ajayi, Aboru'

In [123]:
dist_1 = {"key1": 12.56, "Key2": [12, 35, 46], "Key3": ["Chidi", "Chuka", "Emeka"]}

In [129]:
dist_1["Key2"][1]

35

In [125]:
dt = {}

In [130]:
dt["name"] = "Michael"

In [131]:
dt["age"] = "55"

In [132]:
dt

{'name': 'Michael', 'age': '55'}

In [133]:
cost = {}

name = input("What is your name: ")
fixed_cost = int(input("What is your fixed cost: "))
variable_cost = int(input("What is your variable cost: "))

total_cost = fixed_cost + variable_cost

cost["name"] = name
cost["fixed_cost"] = fixed_cost
cost["variable_cost"] = variable_cost
cost["total_cost"] = total_cost

cost

What is your name: Wakilu
What is your fixed cost: 50
What is your variable cost: 20

{'name': 'Wakilu', 'fixed_cost': 50, 'variable_cost': 20, 'total_cost': 70}

In [134]:
cost["name"]

'Wakilu'

In [136]:
cost.keys()

dict_keys(['name', 'fixed_cost', 'variable_cost', 'total_cost'])

In [137]:
cost.values()

dict_values(['Wakilu', 50, 20, 70])

## Tuple
A Tuple is a sequence of items that are in order, and it is not possible to modify the Tuples. The main difference list and tuples are that tuple is immutable, which means it cannot be altered. Tuples are generally faster than the list data type in Python because it cannot be changed or modified like list datatype. The primary use of Tuples is to write-protect data. Tuples can be represented by using parentheses (), and commas are used to separate the items. 

Days of the week, Months of the year, DOB, etc

In [138]:
tup = (1,2,3,4,5)

In [139]:
tup

(1, 2, 3, 4, 5)

In [ ]:
tup[0] = 13

In [141]:
len(tup)

5

In [142]:
tup_1 = (1, 2.4, "Wale", "10Alytics", "Efe",1,1,1,1,1,1,1,1,1,1)

In [143]:
len(tup_1)

15

In [144]:
tup_1[-1]

1

## Set
The Collection of Unique items that are not in order is called Set. Braces {} are used to defined set and a comma is used to separate values. One will find that the items are unordered in a set data type.

Duplicates are eliminated in a set and set only keeps unique values. Operations like intersection and union can be performed on two sets.

In [146]:
a = {2,2,2,2,1,1,1,3,4,5,6,6,7,7,7}

In [147]:
a

{1, 2, 3, 4, 5, 6, 7}

In [148]:
name = set()

In [149]:
name.add("Dami")

In [150]:
name.add("jumoke")

In [151]:
name.add("Yemi")

In [152]:
name

{'Dami', 'Yemi', 'jumoke'}

In [153]:
num = [1,1,1,1,2,2,2,2,3,3,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,6,7,7,7,7,8,8,8,8,8]

In [154]:
st = set(num)

In [155]:
st

{1, 2, 3, 4, 5, 6, 7, 8}

## Booleans
There can be only two types of value in the Boolean data type of Python, and that is True or False.

In [156]:
type(1 == 1)

bool

In [157]:
type(False)

bool

In [158]:
10 >= 20

False

## Comparison Operators
Comparison operators are used to compare two values:

* == Equals to
* != Not Equals to
* #> Greater than
* #>= Greater than or equals to
* < Less than
* <= Less than of equals to

In [159]:
10<=20

True

In [160]:
20 <= 20

True

In [161]:
10 != 100

True

## If, Elif, Else Statement
The Python if statement is same as it is with other programming languages. It executes a set of statements conditionally, based on the value of a logical expression.

In Python if .. else statement, if has two blocks, one following the expression and other following the else clause. 

The if-elif-else statement is used to conditionally execute a statement or a block of statements. Conditions can be true or false, execute one thing when the condition is true, something else when the condition is false.

In [163]:
name = input("What is your name: ")

if name == "Efemena":
    print(f"Welcome to our kingdom {name}")
else:
    print(f"You are not welcome here. Goodbye {name}")

What is your name: Wakilu
You are not welcome here. Goodbye Wakilu

In [167]:
name = input("What is your name: ")

if name == "Wakilu":
    print(f"Welcome to our kingdom {name}")
elif name == "Ore":
    print(f"Welcome to our Palace {name}")
elif name == "Demola":
    print(f"Welcome to our Country {name}")
elif name == "Chidozie":
    print(f"Welcome to our Village {name}")
elif name == "Yomi":
    print(f"Welcome to our Home {name}")
else:
    print(f"You are not welcome here. Goodbye {name}")

What is your name: ore
You are not welcome here. Goodbye ore

In [168]:
name = input("What is your name: ")
f_test = int(input("What is the score for your first test: "))
s_test = int(input("What is the score for your second test: "))
attd = int(input("What is the score for your attendance: "))
exam = int(input("What is the score for your exam: "))

print("-------------------------------------------")

total_score = f_test + s_test + attd + exam

if total_score >= 70:
    grade = "A"
elif total_score >= 60:
    grade = "B"
elif total_score >= 50:
    grade = "C"
elif total_score >= 40:
    grade = "D"
else:
    grade = "F"

print(f"Hello {name}, Your total score is {total_score} and your grade is {grade}")

What is your name: 20
What is the score for your first test: 15
What is the score for your second test: 10
What is the score for your attendance: 5
What is the score for your exam: 20
-------------------------------------------
Hello 20, Your total score is 50 and your grade is C

Example

* customer type = Corporate and Retail
* amount = 

* corporate
* amt < 10000 = 20%
* amt < 40000 = 25%
* amt >100000 = 40%

* Retail
* amt < 10000 = 10%
* amt < 40000 = 15%
* amt >100000 = 30%

* print the amount
* print the discount
* print the amt - discount

In [169]:
cust_type = input("what type of customer are you: ")
amt = int(input("What is your total amount: "))


if cust_type == "Corporate":
    if amt <= 10000:
        discount = 0.2
    elif amt <= 40000:
        discount = 0.25
    else:
        discount = 0.4
        
if cust_type == "Retail":
    if amt <= 10000:
        discount = 0.1
    elif amt <= 40000:
        discount = 0.15
    else:
        discount = 0.3

t_amt = amt - (amt * discount)

print("---------------------------------")
print(f"You total amount is {amt}")
print(f"Based on your customer type and amount, your discout is {discount}")
print(f"Your total amount is {t_amt}")

what type of customer are you: Retail
What is your total amount: 5000
---------------------------------
You total amount is 5000
Based on your customer type and amount, your discout is 0.1
Your total amount is 4500.0

In [170]:
customerType = input("what type customer are you: ")
amount = int(input("whats your total amount: "))

if customerType == "corporate" and amount <= 10000:
    discount = 0.2
elif customerType == "corporate" and amount <= 40000:
    discount = 0.25
elif customerType == "corporate" and amount > 40000:
    discount = 0.4
    
if customerType == "retail" and amount <= 10000:
    discount = 0.1
elif customerType == "retail" and amount <= 40000:
    discount = 0.15
elif customerType == "retail" and amount > 40000:
    discount = 0.3


total_amt = amount - (amount * discount)
        
print("-----------------------------------")

print(f"total amount is {amount}")
print(f"based on your customer type and amount, your discount is {discount}")
print(f"total amount to be paid {total_amt}")

what type customer are you: corporate
whats your total amount: 10000
-----------------------------------
total amount is 10000
based on your customer type and amount, your discount is 0.2
total amount to be paid 8000.0

In [171]:
print("efe /nmena")

efe /nmena

## For Loop
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [172]:
list1 = [1,2,3,4,5]

In [173]:
list1

[1, 2, 3, 4, 5]

In [174]:
for num in list1:
    print(num)

1
2
3
4
5

In [175]:
# Print all even numbers

list1 = [1,2,3,4,5,6,7,8,9,10]

for i in list1:
    if i % 2 == 0:
        print(f"{i} is an even number")

2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number

In [176]:
# Print all odd numbers

list1 = [1,2,3,4,5,6,7,8,9,10]

for i in list1:
    if i % 2 == 1:
        print(f"{i} is an odd number")

1 is an odd number
3 is an odd number
5 is an odd number
7 is an odd number
9 is an odd number

In [177]:
list1 = [1,2,3,4,5,6,7,8,9,10]
sum_list = 0

for i in list1:
    sum_list = sum_list + i
    print(sum_list)

1
3
6
10
15
21
28
36
45
55

In [178]:
for i in list1:
    print("10Alytics")

10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics

In [179]:
num_times = [1,2,3,4,5]
score = 0

print("Calculator")

for i in num_times:
    print(score)
    num = int(input("what is your score: "))
    score = score + num
    
    
    
print("-----------------------------")    
print(f"Your final score is {score}")

Calculator
0
what is your score: 50
50
what is your score: 60
110
what is your score: 50
160
what is your score: 10
170
what is your score: 90
-----------------------------
Your final score is 260

## While Loop
The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

We generally use this loop when we don't know the number of times to iterate beforehand.

In [181]:
name = input("What is your name: ")

while name == "Wakilu":
    print("10Alytics")
    name = input("What is your name: ")

What is your name: Wakilu
10Alytics
What is your name: Ademola

In [182]:
x = 0

while x < 10:
    print(f"{x} is currently less than 10")
    x = x + 1

0 is currently less than 10
1 is currently less than 10
2 is currently less than 10
3 is currently less than 10
4 is currently less than 10
5 is currently less than 10
6 is currently less than 10
7 is currently less than 10
8 is currently less than 10
9 is currently less than 10

In [183]:
answer = "yes"

while answer == "yes":
    name = input("What is your name: ")
    question = input("What training are you interested in: ")
    print("-------------------------------")
    print(f"hello {name}")
    print(f"The training on {question} will commence shortly")
    
    answer = input("Do you want to continue: yes/no")
    
print("Goodbye")

What is your name: Wakilu
What training are you interested in: yes
-------------------------------
hello Wakilu
The training on yes will commence shortly
Do you want to continue: yes/nono
Goodbye

## Function
In Python, a function is a group of related statements that performs a specific task.

Functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it more organized and manageable.

Furthermore, it avoids repetition and makes the code reusable.

In [184]:
list1 = [1,2,3,4,5]

In [185]:
sum(list1)

15

In [187]:
list2 = sum(list1)
list2

15

In [188]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes.
    When you call help() on your function it will be printed out.
    '''
    # Do stuff here
    # Return desired result

In [190]:
def greeting():
    print("hello")

In [191]:
greeting()

hello

In [192]:
def greeting():
    name = input("What is your name: ")
    print(f"Hello {name}")

In [193]:
greeting()

What is your name: Fatimah
Hello Fatimah

In [196]:
def addition():
    num = 0
    for i in range(3):
        num_1 = float(input("Enter a number: "))
        num += num_1
    print("-------")
    return print(f"Your total is: {num}")

In [197]:
addition()

Enter a number: 40
Enter a number: 5
Enter a number: 12
-------
Your total is: 57.0

In [198]:
def sqr(x):
    num = x ** 2
    return num

In [199]:
sqr(100)

10000

In [205]:
# Convert any username into a lower case

def convert(name):
    user = name.lower()
    return user

In [206]:
convert("Ademuyiwa")

'ademuyiwa'

In [202]:
def convert():
    name = input("what is your name: ")
    user = name.lower()
    return user

In [203]:
convert()

what is your name: Ademuyiwa

'ademuyiwa'

In [207]:
def ans():
    answer = "yes"

    while answer == "yes":
        name = input("What is your name: ")
        question = input("What training are you interested in: ")
        print("-------------------------------")
        print(f"hello {name}")
        print(f"The training on {question} will commence shortly")
    
        answer = input("Do you want to continue: yes/no: ")
    
    print("Goodbye")

In [208]:
ans()

What is your name: Ademuyiwa
What training are you interested in: football
-------------------------------
hello Ademuyiwa
The training on football will commence shortly
Do you want to continue: yes/no: yes
What is your name: fatimah
What training are you interested in: dancing
-------------------------------
hello fatimah
The training on dancing will commence shortly
Do you want to continue: yes/no: no
Goodbye

In [212]:
# Guess game

from random import shuffle

list_1 = list(range(1,5))

def game():
    print("You have 5 trials")
    print("----------------------------")
    for i in range(5):
        shuffle(list_1)
        guess = list_1[3]
        num = int(input("What is your lucky number: "))
        if guess == num:
            print("You are the WINNER!!!")
        else:
            print("Try Again")
            
    return print("You are done")

In [214]:
game()

You have 5 trials
----------------------------
What is your lucky number: 4
You are the WINNER!!!
What is your lucky number: 7
Try Again
What is your lucky number: 1
Try Again
What is your lucky number: 8
Try Again
What is your lucky number: 6
Try Again
You are done

In [215]:
def total_cost(fixed_cost, variable_cost, mixed_cost):
    tc = fixed_cost + variable_cost + mixed_cost
    return tc

In [216]:
total_cost(10,50,100)

160

### Map Function
Mapping consists of applying a transformation function to an iterable to produce a new iterable. Items in the new iterable are produced by calling the transformation function on each item in the original iterable.

In [217]:
def sqr(x):
    num = x ** 2
    return num

In [218]:
num = list(range(1,11))
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [219]:
list(map(sqr, num))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [220]:
def grade(x):
    if x >= 70:
        result = "A"
    elif x >= 60:
        result = "B"
    elif x >= 50:
        result = "C"
    else:
        result = "F"
        
    return result

In [221]:
score = [50, 72, 45, 20, 63, 60]

In [222]:
list(map(grade, score))

['C', 'A', 'F', 'F', 'B', 'B']

In [223]:
for i in score:
    print(f'{i} is equivalent to {grade(i)}')

50 is equivalent to C
72 is equivalent to A
45 is equivalent to F
20 is equivalent to F
63 is equivalent to B
60 is equivalent to B

In [224]:
# if the length of your name is an even number return Yes else No

name = ["Damilola", "Michael", "Demola", "Jumoke", "Jay", "Chidozie"]

def even_odd(names):
    if len(names) % 2 == 0:
        category =  "Even"
    else:
         category = "Odd"
    
    return category

In [225]:
list(map(even_odd, name))

['Even', 'Odd', 'Even', 'Even', 'Odd', 'Even']

### Filter Function
Filtering consists of applying a predicate or Boolean-valued function to an iterable to generate a new iterable. Items in the new iterable are produced by filtering out any items in the original iterable that make the predicate function return false.

In [226]:
name = ["Damilola", "Michael", "Demola", "Jumoke", "Jay", "Chidozie"]

def even_odd(x):
    if len(x) % 2 == 0:
        return x

In [227]:
list(filter(even_odd, name))

['Damilola', 'Demola', 'Jumoke', 'Chidozie']

In [228]:
english = list(range(1, 21))
english

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [229]:
def even(x):
    if x % 2 == 0:
        return x

In [230]:
list(filter(even, english))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Lambda Expressions
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [231]:
x = lambda a: a + 10
print(x(10))

20

In [ ]:
num = lambda a, b, c: a*b-c
print(num(10, 5, 3))